@import 'variables/variables';

.fa-page-title {
	color: $orange;
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 1rem;
	border-bottom: solid thin $orange;
}

.pld-finding-aids__wrapper {
	padding: 1rem;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: top;

	.collection-finding-aid {
		padding: 1rem;
		border: solid thin $adminBlue;
		width: calc(33.33% - 1rem);
		margin: .5rem;
		text-align: center;
		transition: all .3s ease-in-out;

		&:hover {
			-webkit-box-shadow: 3px 10px 21px -3px rgba(0,0,0,0.75);
			-moz-box-shadow: 3px 10px 21px -3px rgba(0,0,0,0.75);
			box-shadow: 3px 10px 21px -3px rgba(0,0,0,0.75);
		}
		a {
			display: block;
			margin-bottom: 1rem;
			color: $orange;

			svg.svg-inline--fa {
				font-size: 3rem;
				color: $seafoam;
				transition: all .3s ease-in-out;

				&:hover {
					color: darken($seafoam, 10%);
				}

			}
		}

		a.collection-title {
			font-size: 1.2rem;
			font-weight: 700;
		}

		a.btn {
			@include btn;
		}
	}
}

