@import 'variables/variables';

.pld-finding-aids__wrapper {
	padding: 1rem 0;
	
	.collection-finding-aid {
		border-bottom: solid thin $adminBlue;
		margin: .5rem 0;
		transition: all .3s ease-in-out;
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-start;
		justify-content: center;

		@include mobile() {
			flex-flow: column nowrap;
		}


		&:hover {
			-webkit-box-shadow: 3px 10px 21px -3px rgba(0,0,0,0.75);
			-moz-box-shadow: 3px 10px 21px -3px rgba(0,0,0,0.75);
			box-shadow: 3px 10px 21px -3px rgba(0,0,0,0.75);
		}
		a {
			display: block;
			margin-bottom: 1rem;
			color: $orange;

			svg.svg-inline--fa {
				font-size: 3rem;
				color: $seafoam;
				transition: all .3s ease-in-out;

				&:hover {
					color: darken($seafoam, 10%);
				}

			}
		}

		.collection_thumb {
			width: calc(33.33% - 1rem);
			margin: .5rem;

			@include mobile() {
				width: calc(100% - 1rem);
			}

			img {
				max-width: 100%;
			}
		}

		.collection_information {
			width: calc(66.66% - 1rem);
			margin: .5rem;

			@include mobile() {
				width: calc(100% - 1rem);
			}
		}

		a.collection-title {
			font-size: 1.5rem;
			font-weight: 700;
		}

		a.btn {
			@include btn;
			max-width: 250px;
			margin-top: 1rem;
			display: inline-block;
			margin-right: 1rem;

			@include mobile() {
				width: 100%;
				max-width: none;
			}
			svg.svg-inline--fa {
				color: #000;
				font-size: 1rem;
				margin-left: .25rem;
			}
		}
	}
}

